header {
    background-color: lightblue;
    height: 80px;
    position:sticky;
}

main {
    padding: 16px 10%;
}

footer {
    height: 300px;
    background-color: lightgrey;
}

aside {
    margin-right: 1%;
    width: 29%;
    height: 450px;
    background-color: lightcoral;
    display: inline-block;
}

section {
    width: 69%;
    height: 450px;
    background-color: burlywood;
    display: inline-block;
}
