body {
    font-family: Arial, Helvetica, sans-serif;
}
nav .menu {
    float: right;
}
.nav-item {
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    margin-right: 10px;
    position: relative;
    top: -8px;
}
.nav-item > i {
    display: inline;
}
.nav-item > svg {
    width: 32px;
    height: 32px;
}
main {
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
    width: 700px;
    position: relative;
    top: 250px;
}
.section-logo {
    text-align: center;
}
main > div {
    margin-top: 10px;
}
.btn-group {
    margin-top: 40px;
    margin-bottom: 10px;
}
.btn-group > div {
    margin-right: 10px;
}
.search-box {
    text-align: center;
}
.form-search > input {
    width: 582px;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
}
.search-box .btn-group > div {
    display: inline;
}
.btn {
    background-color: #f2f2f2;
    color: #5F6368;
    font-size: 14px;
    height: 36px;
    padding: 0 16px;
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    color: #222;
    border-radius: 5px;  
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 10px;
}
footer div > span {
    margin-right: 10px;
}
footer > div {
    display: inline-block;
}
.footer-right {
    float: right;
    margin-right: 20px;
}
#input-search::after {
    content: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
}
